@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;300;400;500&family=Nunito:wght@300&display=swap");

html h1,
h3,
p,
div {
  font-family: "Nunito";
  color: #333;
}
html h2 {
  font-family: "Nunito";
  font-weight: 400;
}
.cardTitle {
  font-family: "Nunito";
  font-size: 25px;
  text-decoration: underline 0.5px;
  font-weight: 400;
  color: #333;
}

.page {
  background: url(../../public/assets/Abstract_sine_waves.jpg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 60px 0;
  align-items: center;
}

.title {
  text-align: center;
}

p {
  line-height: 1.5rem;
}

.card {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;

}

.button-center {
  text-align: center;
}

.list {
  max-width: 800px;
  margin: auto;
}

.list-md {
  padding: 0;
}

/* ------- Login bar ----------- */

.loginInput {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  margin-right: 15px;
}

.loginForm {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  text-align: center;
}

/* ----------- Create page ------------ */

.createTitle {
  padding-left: 0;
  margin-bottom: 20px;
}
.createForm {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.createLabel {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: large;
}
.createInput {
  max-width: 400px;
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  border-radius: 5px;
  border: solid 1px gray;
}

.createEditor {
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px gray;
}

/* ---------- Dark Mode ---------- */
@media (prefers-color-scheme: dark) {
  .createInput {
    max-width: 400px;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border-radius: 5px;
    border: solid 1px gray;
  }

  .loginInput {
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    margin-right: 15px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 10px;
    width: 90%;
    margin: auto;
  }

  html h1 {
    font-size: 21px;
  }

  html h2 {
    font-size: 18px;
  }
  
}
