.page {
  background: url(../../public/assets/music.png);
  min-height: 100%;
}

.title {
  text-align: center;
}

p {
  line-height: 1.5rem;
}

.card {
  padding: 20px;
  border: ridge 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  margin-top: 16px;
}

.button-center {
  text-align: center;
}

.list {
  max-width: 800px;
  margin: auto;
}

/* ------- Login bar ----------- */

.loginInput {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  margin-right: 15px;
}

.loginForm {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  text-align: center;
}

/* ----------- Create page ------------ */

.createTitle {
  padding-left: 0;
  margin-bottom: 20px;
}
.createForm {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.createLabel {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: large;
}
.createInput {
  max-width: 400px;
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  border-radius: 5px;
  border: solid 1px gray;
}

.createEditor {
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px gray;
}

/* ---------- Dark Mode ---------- */
@media (prefers-color-scheme: dark) {
  .createInput {
    max-width: 400px;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    border-radius: 5px;
    border: solid 1px gray;
  }

  .loginInput {
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    margin-right: 15px;
  }
}
